version: '3.7'
services:
  php:
    build: ./docker/php
    ports: ['9000:9001']
    volumes: ['./symfony/:/var/www/symfony:cached']
    networks:
      - default
  nginx:
    build: ./docker/nginx
    ports: ['80:80']
    volumes: ['./symfony/:/var/www/symfony:cached']
    networks:
      - default

networks:
  default:
    name: my-pre-existing-network